
<%= render 'layouts/nav' %>

<div class='opportunities-index with-margins'>

	<div class='map'>
		<iframe width="940" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=19.642588,19.160156&amp;spn=120.119622,269.121094&amp;t=m&amp;z=2&amp;output=embed"></iframe>
	</div>

	<div class='filters'>

		<h2>Your Match Data</h3>
		<p>Opportunities are automatically filtered based on your profile</p>

		<h3>Sectors</h3>
		<ul>
			<li>Environment</li>
			<li>Health</li>
		</ul>

		<h4>Skills</h4>
		<ul>
			<li>Nursing</li>
			<li>Agriculture</li>
		</ul>
	</div>

	<div class='results'>
		<% @opportunities.each do |op| %>
			<div class='opportunity'>
				<div class='image'></div>

				<div class='info'>
					<h3><%= link_to op.name, op %></h3>
					<p><span>Sector</span> <%= op.area %></p>
					<p><span>Location</span> <%= op.country %></p>
					<p><span>Skills</span> Registered Nurse, Physician's Assistant, Bachelor's Degree</p>
					<p><span>Starting</span> <%= simple_date op.start_date %></p>
				</div>
			</div>
		<% end %>
	</div>

	<br />

	<%= link_to 'New Opportunity', new_opportunity_path %>

</div><!-- .opportunities-listing -->
