<!DOCTYPE html>
<html>

<head>
  <title>CorpConnect | Find your place in the Peace Corps</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<!-- Google webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700|Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>

	<!-- jQuery via CDN -->
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>

<body>

<p class='notice'><%= notice %></p>
<p class='alert'><%= alert %></p>

<%= yield %>

</body>
</html>
